<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <!-- Blank -->
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="containerPrincipal">
  <div id="backgroundContainer">
    <div id="container">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-lg="6" offset-lg="3" size="12">
          <ion-card class="animate__animated animate__backInLeft" color="secondary">
            <ion-card-header>
              <ion-card-subtitle> Telefone para contato </ion-card-subtitle>
              <ion-card-title>
                Breno - (61) 9 8580-3041. <br>
                Dielen - (61) 9 8604-2622. <br>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>
</ion-content>