#backgroundContainer {
    --background: none;
    background: url('/assets/img/granpalladium5.jpg') no-repeat fixed center;
    // background-image: url('/assets/img/imagemcasamento.JPG') no-repeat;
    background-size: cover;
    height: 90vh;
    // background-color: #000;
    // color: #fff;
    // opacity: 0.5;
  }

/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(21, 26, 21);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}