#backgroundContainer {
    --background: none;
    background: url('/assets/img/presentewallpaper.jpg') no-repeat fixed center;
    // background-image: url('/assets/img/imagemcasamento.JPG') no-repeat;
    background-size: cover;
    height: 90vh;
    // background-color: #000;
    // color: #fff;
    // opacity: 0.5;
  }