<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <!-- Blank -->
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="containerPrincipal">
  <div id="backgroundContainer">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-lg="6" offset-lg="3" size="12">
          <ion-card class="animate__animated animate__backInLeft" color="secondary">
            <ion-card-header>
              <ion-card-subtitle> Sua presença é nosso melhor presente. </ion-card-subtitle>
              <ion-card-title>
                De verdade, estar com você é nosso melhor presente. <br>
                Se puder, viaje conosco e participe do nosso casamento. <br>
                Se isso não for possível, entre em contato com a gente para combinarmos de desfrutar um tempo
                juntos. <br>
                Para nós, é o melhor presente que conseguimos imaginar. </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>