<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <!-- Blank -->
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="containerPrincipal">
  <div id="backgroundContainer">
    <div id="container">
      <strong>Breno & Dielen</strong>
      <br>
      <p>27/08/2022
        <!-- <a target="_blank" rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components">UI Components</a> -->
        </p>
          <br><br>
          <ion-button shape="round">Saiba mais</ion-button>
    </div>
  </div>
</ion-content>

<ion-button (click)="push()">Get Started</ion-button>